{% extends 'layout.njk' %}

{% block main %}
  <header>
    <h1>{{ title }}</h1>
  </header>

  {{ summary | md | safe }}

  {{ comp.actions.download({ link: report_link }) | safe }}

  {% for section in sections %}
    <section id="narrative-{{ loop.index }}">
      <h2>Narrative Point {{ loop.index }}: {{ section.title }}</h2>

      {{ comp['tag-cloud']({ tags: section.tags }) | safe }}      

      {{ section.summary | md | safe }}

      <a href="{{ search.page("report=" + url + " index=" + loop.index0 ).data.url }}">READ MORE</a>
    </section>
  {% endfor %}

{% endblock %}