{% extends 'layout.njk' %}

{% block main %}
  <header>
    <h1>{{ title }}</h1>
  </header>

  {{ summary | md | safe }}

  {{ comp['action-bar'](links) | safe }}

  {% for section in sections %}
    <h2>{{ section.title }}</h2>
    {{ section.summary | md | safe }}
    {{ comp['tag-cloud']({ tags: section.topics }) | safe }}
  {% endfor %}
{% endblock %}