<section class="block">
<h1>{{ title }}</h1>
{{ text | md | safe }}
{% if visualisations %}
  <section>
    {{ comp.viz.main({ visualisations: visualisations }) | safe }}
  </section>
{% endif %}
<pre>
  ---
  featured: {{ featured_block }}
</pre>
</section>