@import 'css/reset.css';

html {
  font-family: monospace;
  font-size: 16px;
}

div {
  border: 1px solid black;
}

.site-header {
  display: flex;
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
}

.site-header > *:first-child {
  flex-grow: 1;
}

.site-header h1 {
  font-size: 1.2rem;
}

#main {
  margin-top: 3rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}
