---
layout: null
title: YFF Dashboard Editor
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
    <script>
      CMS.registerPreviewStyle("{{ '/style/wireframe.css' | url }}");

      const DEFAULT_SEPARATOR = ',';

      const CategoriesControl = createClass({
        handleChange: function (e) {
          const separator = this
            .props
            .field
            .get('separator', DEFAULT_SEPARATOR)
          this
            .props
            .onChange(e.target.value.split(separator).map((e) => e));
        },

        render: function () {
          const separator = this
            .props
            .field
            .get('separator', DEFAULT_SEPARATOR);
          var value = this.props.value;
          return h('input', {
            id: this.props.forID,
            className: this.props.classNameWrapper,
            type: 'text',
            value: value
              ? value.join(separator)
              : '',
            onChange: this.handleChange
          });
        }
      });

      const CategoriesPreview = createClass({
        render: function () {
          return h('ul', {}, this.props.value.map(function (val, index) {
            return h('li', {
              key: index
            }, val);
          }));
        }
      });

      const schema = {
        properties: {
          separator: {
            type: 'string'
          }
        }
      }

      CMS.registerWidget('categories', CategoriesControl, CategoriesPreview, schema);
    </script>
  </body>
</html>