---
title: Sample Chart Page
templateEngine: njk,md
chartConfig:
  - type: scatter
    options:
      width: 100%
      series:
        - name: series1
          points: [[1, 1], [3, 3], [5, 5], [7, 7], [9, 9]]
          line: false
          colour: red
        - name: series2
          points: [[1, 9], [2, 4], [5, 2], [7, 3], [9, 1]]
          colour: blue
      axis:
        x:
          max: 10
          min: 0
          ticks: [0, 2.5, 5, 7.5, 10]
        y:
          min: 0
          max: 10
          ticks: [0, 5, 10]
---

## Example chart

{% for chart in chartConfig %}

This is a sample of the `chart.{{ chart.type }}` component

{{ comp.chart[chart.type](chart.options) | safe }}

Provided with options

```
{{ chart.options | dump(2) | safe }}
```

{% endfor %}