---
title: Home
---

<p>This is a clickable wireframe prototype for a data dashboard site. It has been created for Youth Futures Foundation.</p>

{% comp 'dashboard' %}
{% comp 'pane', { link: '/impact' } %}
<h1>Impact Dashboard</h1>
<p>Understand our Impact</p>
{% endcomp %}
{% endcomp %}
