---
nav_order: 20
title: Reports
---
<h1>Report Dashboard</h1>

{% comp 'grid.auto' %}
  {% for page in search.pages('report', 'date') %}
    {% comp 'grid.pane', { link: page.data.url } %}
      <h1>{{ page.data.title }}</h2>
      <p>
        {{ page.data.summary | md | safe | striptags  }}
      </p>
    {% endcomp %}
  {% endfor %}
{% endcomp %}