{% comp 'dashboard' %}
  {% comp 'pane', { link: '/reports/' } %}
    <h1>Reports</h1>
    <p>Details about reports</p>
    {{ comp.number({ number: 3 } ) | safe }}
  {% endcomp %}
  {% comp 'pane' %}
    <h1>Events</h1>
    {{ comp.number({ number: 23 } ) | safe }}
  {% endcomp %}
  {% comp 'pane' %}
    <h1>Metric 3</h1>
    {{ comp.number({ number: 12334 } ) | safe }}
  {% endcomp %}
{% endcomp %}
