{% comp 'dashboard' %}
  {% comp 'pane' %}
    <h1>Report 1</h1>
  {% endcomp %}

  {% comp 'pane' %}
    <h1>Report 2</h1>
  {% endcomp %}

  {% comp 'pane' %}
    <h1>Report 3</h1>
  {% endcomp %}
{% endcomp %}